body {
  font-family: Overpass;
  color: #404042;
  font-size: 18px;
  margin: 0;
  background-color: #7ACD7F;
}
.main {
  margin: 75px;
  }
h1, h2, h3 {
  color: #1C4A1F;
  }
.container {
  width: auto;
  margin: 6px auto;
    display: flex
}
.banner {
  background-image: url('../images/campobanner2.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}
.banner h1 {
  color: #E8E288;
  font-size: 55px;
  margin: 0;
}
.banner p {
  color: #F5F3CC;
  font-size: 24px;
  opacity: 0.8;
  margin: 0;
}
.card-white {
  background: #F2EFBB;
  border-radius: 12px;
  padding: 24px;
  flex-grow: 1;
  
}
.card-white img {
  width: 100%;
  height: 220px;
  border-radius: 12px;
}
.card-white h3 {
  margin-bottom: 0;
    display: flex;
}
.main img {
  width: 100%;
  height: 220px;
    object-fit: cover;
  border-radius: 12px;
}
.footer {
  background: #1A4513;
  color: #E8E288;
  padding: 10px 75px;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}
